<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-row>

      <ion-col size="3">
      </ion-col>

     <ion-col size="7" style="padding: 0;">
    <img src="/assets/images/logo.png" style="width: 70%;">
    </ion-col>

    <ion-col size="2" style="padding: 0;">
        <img src="/assets/images/cuenta.png" style="width: 100%;"
             (click)="openCart()">
    </ion-col>

  </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3984.6081230910045!2d-75.29027118488503!3d2.928433897867122!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3b7464cbad4e1b%3A0x9a38cc76988f839a!2sRestaurante%20El%20Asadero!5e0!3m2!1sen!2sco!4v1609363267061!5m2!1sen!2sco" width="100%" height="850" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
<br>


</ion-content>
